{% extends 'base.html.twig' %}

{% block title %}A propos - Laboutique!{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-5">
      <img src="{{ asset('assets/img/about1.jpg')}}" class="img-fluid" alt="Image de notre équipe">
    </div>
    <div class="col-lg-6">
      <h2 class="mt-4"><b>Qui sommes nous</h2></b>
      <p>Nous sommes une boutique spécialisée dans la vente de composants de PC haut de gamme. Notre équipe est composée d'experts passionnés par l'informatique et les dernières technologies.</p>
      <p>Notre objectif est de fournir à nos clients des composants de la plus haute qualité, soigneusement sélectionnés auprès des meilleurs fabricants. Nous proposons une large gamme de processeurs, cartes graphiques, mémoires, disques durs, et bien d'autres composants essentiels pour la construction ou la mise à niveau d'un PC.</p>
      <p>Nous nous engageons à offrir un service client exceptionnel, avec des conseils personnalisés, un support technique et des livraisons rapides. Nous sommes là pour vous aider à choisir les meilleurs composants qui répondent à vos besoins spécifiques.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <img src="{{ asset('assets/img/banner2.jpg')}}" class="img-fluid" alt="Bannière">
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-lg-4">
      <h2 class="mt-4 mb-4"><b>Notre Histoire</b></h2>
      <p>Nous avons commencé notre aventure dans le monde des composants de PC il y a plus de 10 ans. Depuis lors, nous avons constamment évolué pour répondre aux besoins de nos clients passionnés d'informatique.</p>
    </div>
    <div class="col-lg-4">
      <h2 class="mt-4 mb-4"><b>Notre Engagement</b></h2>
      <p>Nous nous engageons à fournir des produits de la plus haute qualité et un service client exceptionnel. Chaque composant que nous proposons est soigneusement sélectionné et testé pour garantir des performances optimales et une fiabilité à long terme.</p>
    </div>
    <div class="col-lg-4">
      <h2 class="mt-4 mb-4"><b>Notre Équipe</b></h2>
      <p>Notre équipe est composée d'experts passionnés par l'informatique et les nouvelles technologies. Nous sommes constamment à l'affût des dernières avancées du secteur pour vous offrir les composants les plus innovants et performants du marché.</p>
    </div>
  </div>
</div>
{% endblock %}
