{% extends 'base.html.twig' %}

{% block title %}Modifier mon mdp{% endblock %}

{% block content %}
    <h1>Modifier mdp</h1>
    Bienvenue {{ app.user.username }} !
    <hr>
    <a href="{{ path('app_account') }}">Retourner à mon compte </a><br>
    <hr>
    {% if notification %}
        <div class="alert alert-info">{{notification}}</div>
    {% endif %}
    {{ form(form)}}
    <hr>
{% endblock %}
