{% extends 'base.html.twig' %}

{% block carousel %} {% endblock %}

{% block content %}


    <h1>Les meilleurs ventes</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-md-3">
                {% include 'product/single_product.html.twig' %}
            </div>
        {% endfor %}
    </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Expérience de jeu ultime avec la PNY GeForce RTX 4070 Ti </h2>
                <p class="lead">Plongez dans des mondes virtuels époustouflants avec des graphismes ultra-réalistes grâce à la puissance de la PNY GeForce RTX 4070 Ti. Des performances de pointe, une mémoire généreuse et des fonctionnalités avancées font de cette carte graphique un choix incontournable pour les gamers exigeants. Préparez-vous à vivre une expérience de jeu inégalée !</p>
            </div>
            <div class="col-md-5">
                <img src="{{ asset('assets/img/cartegraphique/ASUS ROG Strix GeForce RTX 4070 Ti 12GB.jpg') }}" class="img-fluid" alt="Image de notre équipe">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Une immersion totale avec le Samsung Odyssey G3 !</h2>
                <p class="lead">Découvrez le plaisir du gaming immersif avec le Samsung 24 LED - Odyssey G3 S24AG320NU. Son écran de haute qualité offre des images nettes et des couleurs éclatantes, vous plongeant au cœur de l'action. Son taux de rafraîchissement élevé et son temps de réponse rapide garantissent une expérience fluide et réactive. Préparez-vous à vivre des aventures palpitantes avec des détails saisissants !</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{ asset('assets/img/ecran/Samsung 24 LED - Odyssey G3 S24AG320NU.jpg') }}" class="img-fluid" alt="Image de notre équipe">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Le ASUS F17 : puissance et performance réunies !</h2>
                <p class="lead">Le ASUS F17 PX707VV4-LL088X est l'ordinateur portable ultime pour les passionnés de gaming et de création. Doté d'un processeur puissant, d'une carte graphique performante et d'une grande quantité de mémoire, il offre des performances exceptionnelles pour toutes vos tâches exigeantes. Profitez d'un affichage de qualité, d'une réactivité hors pair et d'une expérience de jeu fluide. Attention, cet ordinateur est très convoité et sera bientôt de retour en stock !</p>
            </div>
            <div class="col-md-5">
                <img src="{{ asset('assets/img/pcportable/ASUS F17 PX707VV4-LL088X.jpg') }}" class="img-fluid" alt="Image de notre équipe">
            </div>
        </div>
        <hr class="featurette-divider">


{% endblock %}